footer {
	width: 80%;
	margin-left: 10%;
}

.navbar {
	background:#FF6900
}
 .icon {
	width:16px;
	height:16px;
}

.navbar {
	padding-left: 200px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.form-control {
	float: left;
}

.list {
	width: 80%;
	position: absolute;
	margin-top: 70px;
	left: 50%;
  	transform: translate(-50%);
  	padding-left: 7%;
}

.pizPic {
	height: 270px;
	width: 270px;
}

.card {
	width: 300px;
	height: 570px;
	border: 0;
}

.card-body button {
	position: absolute;
	bottom:0;
	right: 0;
}

.bucket {
	border: 1px solid #FF6900;
}

.bucket:hover {
	background:#FF6900;
}

.toRight {
	float: right;
}

.outp table {
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
	box-shadow: inset 0px 0px 10px rgba(0,0,0,0.9);
}

.outp{
	width: 100%;
}
.thead {
	background: #FF6900;
}

.inc {
	padding: 0;
}